@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,700,800);

.chartContainer {
  width: 100%;
  margin: auto;
  height: 100%;
  font-family: 'Raleway', Arial, sans-serif;
}

.chartdiv {
  width: 80%;
  height: 500px;
  margin: auto;
  padding-bottom: 20px;
}

.symName {
  color: darkgray;
  font-size: 50px;
  padding-top: 25px;
  padding-left: 12%;
  text-align: left;
}
